.red-btn {
    padding: 16px 65px;
    background-color: $hover;
    color: $white;
    border-radius: 8px;
    text-decoration: none;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #F3F3F3;

    @media (max-width: 991px) {
        grid-template-columns: 1fr;
        padding-bottom: 102px;
        gap: 50px;
    }

    .banner-title {
        max-width: 710px;
        padding-inline-start: Calc((100vw - 1352px)/ 2);

        @media (max-width: 1440px) {
            padding-inline-start: Calc((100vw - 1170px)/ 2);

        }
        @media (max-width: 1200px) {
            padding-inline-start: Calc((100vw - 960px)/ 2);
        }
        @media (max-width: 991px) {
            padding-inline-start: 0;
            text-align: center;
            max-width: 100%;
        }
        @media (max-width: 767px) {
            padding-inline-start: 0px;
            max-width: 540px;
            margin: 0 auto;
        }

        h2 {
            font-weight: 700;
            font-size: 50px;
            color: $main;
            margin-bottom: 15px;

            @media (max-width: 1440px) {
                font-size: 30px;
            }
        }

        p {
            font-size: 20px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8);
            margin-bottom: 47px;

            @media (max-width: 1440px) {
                font-size: 14px;
            }
        }

        @media (max-width: 991px) {
            order: 2;
        }

    }

    .banner-img {
        position: relative;
        padding-top: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .banner-car {
            width: 40.4%;
            position: relative;
            z-index: 1;
        }

        .bg-img {
            position: absolute;
            top: 0;
            inset-inline-end: 50%;
            z-index: 0;
            // max-width: 405px;
            height: 100%;
            transform: translateX(-66%);

            img {
                height: 100%;
            }
        }

        .vector-cont {
            position: absolute;
            top: 0;
            inset-inline-end: 0;
            height: 100%;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @media (max-width: 991px) {
            order: 1;
        }
    }
    
}

.swiper-pagination-bullet-active{
    background: $hover !important;
}
.swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    @media (max-width: 1440px) {
        width: 10px !important;
    height: 10px !important;
    }
}
